body {
    background-color: #ffffff;
    margin: 0px;
  }

.question {
    display: flex;
    justify-content: center;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 430px;
}

.ButY {
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 450px;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

.ButN {
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 450px;
    color: black;
    text-decoration: none;
}

.questionContainer {
    margin-left: 910px;
    gap: 20px
}